@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* common shared styles */

.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
/* header section styles */

#header .hero {
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/BannerImage.png");
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
}

#header .hero .title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
}
#header .hero .heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  max-width: 632px;
  font-family: Merriweather;
}

/* new year section */

#new-year {
  padding: 120px 0;
}
#new-year .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-year .row .offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

#new-year .row .deals {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
#new-year .row .category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 48px;
}

/* party section */
#party-section {
  padding-bottom: 120px;
}
#party-section .row {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  padding: 126px 0 147px 126px;
  border-radius: 1rem;
}
#party-section .row .heading {
  max-width: 642px;
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
#party-section .row .description {
  max-width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
#party-section .row .join-now-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 48px;
  display: inline-block;
}

/* location section */
#location {
    padding-bottom: 120px;
}
#location .row {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0 110px 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#location .row .place {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
}
#location .row .place .red-text {
  color: #f00;
}

#location .row .join-btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

