@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

/* common shared styles */

.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
.btn {
  border: none;
  outline: none;
  cursor: pointer;
}
.red-text {
  color: #f00;
}
/* header section styles */

#header .hero {
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/BannerImage.png");
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
}

#header .hero .title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: "Merriweather", serif;
}
#header .hero .heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  max-width: 632px;
  font-family: "Merriweather", serif;
}

/* new year section */

#new-year {
  padding: 120px 0;
}
#new-year .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-year .row .offer {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

#new-year .row .deals {
  color: #f00;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
#new-year .row .category {
  color: #070211;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 48px;
}

/* party section */

#party-section {
  padding-bottom: 120px;
}
#party-section .row {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 68px 128px;
}

#party-section .row .heading {
  max-width: 642px;
  color: #fff;
  font-family: "Merriweather", serif;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}
#party-section .row .description {
  max-width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
}
#party-section .row .join-now-btn {
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 48px;
  display: inline-block;
}

/* location section */
#location {
  padding-bottom: 120px;
}
#location .row {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding: 100px 0 110px 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}
#location .row .place {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-transform: capitalize;
  text-align: center;
}

#location .row .join-btn {
  padding: 16px 32px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
/* offer section */
#new-offer {
  padding-bottom: 120px;
}
#new-offer .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#new-offer .row .left-col .title {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
#new-offer .row .left-col .heading {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
#new-offer .row .left-col .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 393px;
  margin-top: 22px;
}

#new-offer .row .middle-col {
  border-radius: 463px;
  border: 15px solid #f00;
  padding: 49px;
}

#new-offer .row .right-col {
  align-self: end;
}
#new-offer .row .right-col .year {
  color: #f00;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}
#new-offer .row .right-col .text {
  max-width: 276px;
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* holiday sale section */

#holiday-sale {
  padding-bottom: 120px;
}
#holiday-sale .row {
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: relative;
}
#holiday-sale .row .top-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
#holiday-sale .row .top-col .title {
  color: #070211;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
#holiday-sale .row .top-col .heading {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 12px;
}
#holiday-sale .row .top-col .description {
  max-width: 1068px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

#holiday-sale .row .bottom-col {
  align-self: end;
  border-radius: 16px 16px 0px 0px;
  position: relative;
}

#holiday-sale .row .box-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  bottom: -225px;
}

#holiday-sale .row::after {
  content: "";
  border-radius: 16px 0px 16px 16px;
  background: #f00;
  height: 229px;
  position: absolute;
  width: 100%;
  z-index: 30;
  bottom: -222px;
  left: 0;
}
#holiday-sale .row .bottom-col .discount {
  position: absolute;
  left: -165px;
  top: 86px;
}

/* portfolio section */

#portfolio {
  padding-top: 220px;
}
#portfolio .row {
}
#portfolio .row .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 48px;
}
#portfolio .row .content .title {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

#portfolio .row .content .heading {
  color: #070211;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 6px;
}

#portfolio .row .content .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  max-width: 896px;
}

#portfolio .row .works {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  border-radius: 16px;
  overflow: hidden;
}

#portfolio .row .works .work {
  background-repeat: no-repeat;
  background-size: contain;
  width: 424px;
  height: 450px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
#portfolio .row .works .work:hover {
  transform: translateY(-15px);
}
#portfolio .row .works :nth-child(1) {
  background-image: url("../images/work1.png");
}
#portfolio .row .works :nth-child(2) {
  background-image: url("../images/work2.png");
}
#portfolio .row .works :nth-child(3) {
  background-image: url("../images/work3.png");
}
#portfolio .row .works :nth-child(4) {
  background-image: url("../images/work4.png");
}
#portfolio .row .works :nth-child(5) {
  background-image: url("../images/work5.png");
}
#portfolio .row .works :nth-child(6) {
  background-image: url("../images/work6.png");
}

/* newsletter section */
#newsletter {
  padding: 120px 0;
}
#newsletter .row {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 0;
  display: grid;
  place-items: center;
  gap: 22px;
}

#newsletter .row .heading {
  color: #070211;
  text-align: center;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  margin-top: 18px;
}
#newsletter .row .description {
  max-width: 896px;
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 26px;
}

#newsletter .row form div {
  width: 648px;
  height: 72px;
  border-radius: 50px;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#newsletter .row form input[type="submit"] {
  background: #f00;
  padding: 24px 56px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  border: 0;
  outline: none;
  cursor: pointer;
}
#newsletter .row form input[type="email"] {
  height: 100%;
  flex-grow: 1;
  padding: 0 30px;
  color: rgba(7, 2, 17, 0.3);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  border: none;
  outline: none;
}

/* footer section */

#footer {
  background: #070211;
  padding: 120px 0;
}

#footer .row .col-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .row .col-1 .text {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

#footer .row .col-1 .phone {
  display: flex;
  align-items: center;
  gap: 16px;
}
#footer .row .col-1 .phone > p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
#footer .row .col-1 .web {
  display: flex;
  align-items: center;
  gap: 16px;
}
#footer .row .col-1 .web > p {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

#footer .row .col-2 {
  margin: 98px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

#footer .row .col-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#footer .row .col-3 .copyright {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
#footer .row .col-3 .unsubscribe {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
