@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/* common shared styles */

.container {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}

/* header section styles */

#header .hero {
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/BannerImage.png");
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 50px;
}

#header .hero .title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  font-family: Merriweather;
}
#header .hero .heading {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  max-width: 632px;
  font-family: Merriweather;
}

/* new year section */

#new-year {
  padding: 120px 0;
}
#new-year .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#new-year .row .offer {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  margin-bottom: 48px;
}

#new-year .row .deals {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
#new-year .row .category {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 48px;
}
